// Global Theme Variables

$pier-file-library-path: "..";  // Relative to PierCMSFileLibrary/css/style.css


@mixin debug($color: white) {
	border: 1px dotted $color;
	
	&:hover {
		background-color: rgba(150,150,150,0.5);
	}
}